<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="join">

	<!-- association : 1:1 관계의 JOIN 명령을 처리하기 위해 사용된다. -->
	<resultMap type="part03.dto.EmpDTO" id="emp_dept_result">
		<result column="employee_id" property="employee_id" />
		<result column="first_name" property="first_name" />
		<result column="job_id" property="job_id" />
		<result column="department_id" property="department_id" />
		<association property="dept" javaType="part03.dto.DeptDTO">
			<result column="department_name" property="department_name" />
		</association>
	</resultMap>
	
	<select id="emp_dept" resultMap="emp_dept_result" resultType="part03.dto.EmpDTO">
		select e.employee_id, e.first_name, e.job_id, e.department_id, d.department_name
		from employees e, departments d
		where e.department_id=d.department_id
	</select>
	
	<!--  collection : join에서 1대 N의 관계 -->
	<resultMap type="part03.dto.DeptDTO" id="dept_emp_result">
		<result property="department_id" column="department_id" />
		<result property="department_name" column="department_name" />
		<collection property="empList" javaType="java.util.List" ofType="part03.dto.EmpDTO">
			<result property="employee_id" column="employee_id"/>
			<result property="first_name" column="first_name" />
		</collection>
	</resultMap>
	
	<select id="dept_emp" resultMap="dept_emp_result" resultType="part03.dto.DeptDTO" >
		select d.department_id, d.department_name, e.employee_id, e.first_name
		from departments d, employees e
		where d.department_id=e.department_id
		order by d.department_id
	</select>
	
	<!-- discriminator : 검색된 결과를 이용해서 다른 resultMap을 사용하도록 하는 요소이다.
		Switch 문과 비슷한 기능을 처리한다. extends 속성은 다른 resultMap을 상속받아 사용한다. -->
	<resultMap type="part03.dto.EmpDTO" id="myResult" autoMapping="false">
		<result property="employee_id" column="employee_id" />
		<result property="first_name" column="first_name" />
		<discriminator javaType="java.lang.String" column="employee_id">
			<case value="100" resultMap="jobResult"></case>
			<case value="200" resultMap="deptResult"></case>
			
		</discriminator>
	</resultMap>
	
	<resultMap type="part03.dto.EmpDTO" id="jobResult" extends="myResult" autoMapping="false">
		<result column="job_id" property="job_id"/>
	</resultMap>
	
	<resultMap type="part03.dto.EmpDTO" id="deptResult" extends="myResult" autoMapping="false">
		<result column="department_id" property="department_id"/>
	</resultMap>

	<select id="dnator" resultMap="myResult">
		select * from employees
		where employee_id in(100,200,202)
	</select>
	
	
		
</mapper>