<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">

	<sql id="sel">
		select * from employees
	</sql>

	<select id="all" resultType="part01.dto.EmployeesDTO">
		select * from employees
	</select>

	<select id="one" resultType="java.lang.Integer">
		select count(*) from employees
	</select>

	<select id="search" parameterType="java.lang.String" resultType="part01.dto.EmployeesDTO">
		select * from employees
		where first_name like '%' ||
		lower(#{first_name}) || '%'
	</select>

	<select id="yearList" parameterType="java.lang.Integer"
		resultType="part01.dto.EmployeesDTO">
		select * from employees
		where to_char(hire_date,
		'yyyy')=#{hire_date}
	</select>

	<select id="dtoList" parameterType="part01.dto.EmployeesDTO"
		resultType="part01.dto.EmployeesDTO">
		select * from employees where first_name like '%' ||
		lower(#{first_name}) || '%' and salary >= #{salary}
	</select>

	<select id="mapList" parameterType="java.util.HashMap"
		resultType="part01.dto.EmployeesDTO">
		select * from employees where first_name like '%' ||
		lower(#{first_name}) || '%' and salary >= #{salary}
	</select>

	<select id="moneyList" parameterType="java.util.HashMap"
		resultType="ed">

		<include refid="sel" />
		
		<![CDATA[
		where salary >= #{losalary}
		and salary <= #{hisalary}
		]]>
	</select>


</mapper>